export VITE_API_URL=http://technify-api.test
export VITE_GRAPHQL_URL=http://technify-api.test/graphql
export VITE_STRIPE=pk_test_51M3tgHJOzpgWe0dCPebnbcPSZ8U7NX06Z8u4r8IzL3Mjmbt1UpJMdFhT5bXuZsybMyD2dy1Xhf6Jxvl3LhGVTmjx00M16c8w9u
